<div class="wrapper">
  <div *ngIf="groups" class="groups-container">
    <a [routerLink]="['/groups']">
      <div routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
        <span>Все ({{membersCount}})</span>
      </div>
    </a>
    <a *ngFor="let group of groups" [routerLink]="['/groups']" [queryParams]="{id: group.id}">
      <div routerLinkActive="selected">
        <div>
          <span>{{group.name}} </span><span>({{group.members.length}})</span>
        </div>
      </div>
    </a>
  </div>

  <app-member-list [members]="members"></app-member-list>
</div>
