<div class="wrapper">
  <div class="groups-container">
    <div routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/groups']">
        <span>Все ({{membersCount}})</span>
      </a>
    </div>
    <div *ngFor="let group of groups" routerLinkActive="selected">
      <a [routerLink]="['/groups']" [queryParams]="{id: group.id}">
        <span>{{group.name}} </span><span>({{group.members.length}})</span>
      </a>
    </div>
  </div>

  <app-member-list [members]="members"></app-member-list>
</div>
